.Row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 1rem;
    width: 90%;
    margin: 2rem auto;
}

.Row:last-child {
    padding-bottom: 2rem;
    margin-bottom: 0;
}

.Row:first-child {
    margin-top: 01rem;
}

@media (min-width: 768px) {
    .Row {
        width: 40%;
    }
}
