.Switch {
    width: 40px;
    height: 100px;
    position: relative;
    background-color: black;
    margin: 2rem 3rem;
}

.SwitchValue {
    height: 80px;
    width: 20px;
    position: absolute;
    left: calc(50% - 10px);
    top: .5rem;
}

.SwitchValue.on {
    animation: switchValueOn forwards .75s linear;
}

.SwitchValue.off {
    animation: switchValueOff forwards .75s linear;
}

.Lever {
    background: linear-gradient(#757575, #403333);
    height: 25%;
    width: 100px;
    position: absolute;
    left: -29px;
}

.Lever.on {
    animation: slideDown forwards .75s linear;
}

.Lever.off {
    animation: slideUp forwards .75s linear;
}

.Lever:hover {
    cursor: pointer;
}

.Lever:focus {
    outline: red auto .5px;
}

@keyframes slideDown {
    from {
        top: 0;
    }
    to {
        top: 80%;
    }
}


@keyframes slideUp {
    from {
        top: 80%;
    }
    to {
        top: 0;
    }
}

@keyframes switchValueOn {
    from {
        box-shadow: 0px 1px 7px 4px red;
        background-color: red;
    }
    to {
        box-shadow: 0px 1px 7px 4px green;
        background-color: green;
    }
}

@keyframes switchValueOff {
    from {
        box-shadow: 0px 1px 7px 4px green;
        background-color: green;
    }
    to {
        box-shadow: 0px 1px 7px 4px red;
        background-color: red;
    }
}
