.Container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Reset {
    padding: .5rem 1rem;
    border: none;
    margin-top: 3rem;
    color: white;
    background-color: black;
}

.Reset:hover,
.Reset:focus {
    cursor: pointer;
    background: linear-gradient(#757575, #403333);
    outline: none;
}
