.Container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 1rem;
    width: 90%;
    margin: 2rem auto;
}

@media (min-width: 768px) {
    .Container {
        width: 40%;
    }
}

p {
    margin-bottom: 1rem;
}
