/* .Container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 1rem;
    width: 90%;
    margin: 2rem auto;
}

@media (min-width: 768px) {
    .Container {
        width: 40%;
    }

    .Container.Level3 {
        grid-template-columns: auto auto auto auto;
    }
} */

p {
    margin-top: 0;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
